JOB_BOARD_PASSWORD=YOUR-PASSWORD-HERE
JWT_HMAC_SECRET=YOUR-SECRET-HERE
GA_ID=YOUR-GOOGLE-ANALYTICS-ID-HERE
RECAPTCHA_ENABLED='false'
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RESEND_API_KEY=
MAILER_FROM_ADDRESS='WNB.rb <exec@wnb-rb.dev>'
DISCORD_INVITE_URL=
DROPBOX_REFRESH_TOKEN=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
GIVEBUTTER_API_KEY=
GIVEBUTTER_CAMPAIGN_ID=
