<h1 class="visually-hidden">Future Dashboard</h1>
<p class="text-center fs-1 fw-bold">To suggest a feature, contact the website team on Discord</p>
<div class="col-8 col-sm-5 mx-auto">
  <%= image_tag asset_path("admin/dashboard/under_construction.svg"), class:"mw-100 w-auto", height: 300 %>
</div>
