.banner {
    @apply w-full flex flex-row justify-center my-20 py-5 px-5;

    background-color: #fff3f3;
}

.banner-card {
    @apply my-5
      py-5
      flex
      flex-row
      flex-wrap
      justify-center
      md:justify-between
      text-center
      md:text-left
      items-center
      text-lg;
}
