.button {
    @apply py-[1.25rem]
        font-besley
        px-[1.5rem]
        rounded-md
        flex
        items-center
        justify-center
        text-base
        transition-all
        hover:cursor-pointer
        hover:outline-none
        active:outline-none;
}

.button.primary {
    @apply text-white
        border
        border-transparent
        bg-wnbrb-orange-default
        hover:text-wnbrb-orange-default
        hover:border-wnbrb-orange-default
        hover:bg-wnbrb-orange-light
        font-semibold;

}

.button.primary:active,
.button.primary:hover {
    box-shadow: 0 0 0 0.25rem rgba(243, 125, 123, 0.5);
}

.button.secondary {
    @apply bg-wnbrb-blue-navy text-white;
}

.button.secondary:active,
.button.secondary:hover {
    box-shadow: 0 0 0 0.25rem rgba(74, 74, 74, 0.5);
}

.button.white {
    @apply bg-white text-wnbrb-gray-default border border-wnbrb-gray-default;
}

.button.white:active,
.button.white:hover {
    box-shadow: 0 0 0 0.25rem rgba(74, 74, 74, 0.25);
}

.button.white-and-orange {
    @apply bg-white text-wnbrb-orange-default border border-wnbrb-orange-default font-semibold;
}

.button.white-and-orange:active,
.button.white-and-orange:hover {
    box-shadow: 0 0 0 0.25rem rgba(243, 125, 123, 0.5);
}

.button.ruby {
    @apply bg-wnbrb-ruby-default
        text-white
        hover:text-wnbrb-ruby-default
        hover:border-wnbrb-ruby-default
        hover:bg-wnbrb-ruby-light;
}

.button.ruby:active,
.button.ruby:hover {
    box-shadow: 0 0 0 0.25rem rgba(153, 50, 50, 0.5);
}

.button.emerald {
    @apply bg-wnbrb-emerald-default
        text-white
        hover:text-wnbrb-emerald-default
        hover:border-wnbrb-emerald-default
        hover:bg-wnbrb-emerald-light;
}

.button.emerald:active,
.button.emerald:hover {
    box-shadow: 0 0 0 0.25rem rgba(69, 130, 63, 0.5);
}

.button.sapphire {
    @apply bg-wnbrb-sapphire-default
        text-white
        hover:text-wnbrb-sapphire-default
        hover:border-wnbrb-sapphire-default
        hover:bg-wnbrb-sapphire-light;
}

.button.sapphire:active,
.button.sapphire:hover {
    box-shadow: 0 0 0 0.25rem rgba(72, 84, 150, 0.5);
}

.button.opal {
    @apply bg-wnbrb-opal-default
        text-white
        hover:text-wnbrb-opal-default
        hover:border-wnbrb-opal-default
        hover:bg-wnbrb-opal-light;
}

.button.opal:active,
.button.opal:hover {
    box-shadow: 0 0 0 0.25rem rgba(144, 144, 144, 0.5);
}


.button.disabled
 {
    user-select: none;
    box-shadow: none;
    cursor: default;
    outline: none;
    opacity: 0.3;

    input[type='submit'].disabled,
    input[type='submit']:disabled
    {
        user-select: none;
        box-shadow: none;
        cursor: default;
        outline: none;
    }

    &:hover, &:active, &:focus {
        box-shadow: none;
    }
}
