.button {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.primary {
  @apply transition-all text-white border border-transparent;
  background-color: #f37d7b;
}

.button.primary:hover {
  background-color: rgba(243, 125, 123, 0.1);
  border-color: #f37d7d;
  color: #f37d7b;
}

.button.primary:active,
.button.primary:hover {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(243, 125, 123, 0.5);
}

.button.secondary {
  background-color: #4a4a4a;
  color: white;
}

.button.ruby {
  background-color: #993232;
  color: white;
}

.button.emerald {
  background-color: #45823f;
  color: white;
}

.button.saphire {
  background-color: #485496;
  color: white;
}

.button.ruby:hover,
.button.ruby:active,
.button.emerald:hover,
.button.emerald:active,
.button.saphire:hover,
.button.saphire:active {
  opacity: 0.9;
}
