.button {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 0.2rem;
  display: flex;
}

.button.primary {
  background-color: #f37d7b;
  color: white;
}

.button.ruby {
  background-color: #993232;
  color: white;
}

.button.emerald {
  background-color: #45823f;
  color: white;
}

.button.saphire {
  background-color: #485496;
  color: white;
}