.footer {
  padding: 5rem 3rem 5rem 3rem;
  display: flex;
  justify-content: space-between;
  color: #676767;
  font-size: .85rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer .footer-left {
  display: flex;
  justify-content: space-between;
}

.footer .footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer .footer-col {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.footer p.footer-col-title {
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.footer .footer-col-item {
  margin-bottom: 1rem;
}

.footer .social-icon {
  height: 1.25rem;
  fill: #676767;
  margin-left: .75rem;
}

.footer p.made-with-love {
  margin: 0;
  margin-top: .5rem;
}
