footer {
    background-color: #ffffe5;
    width: 100%;

    .footer {
        @apply  container mx-auto max-w-6xl flex justify-between text-sm px-12 xl:px-0 py-8 md:py-20 flex-col md:flex-col border-t border-gray-100 md:border-t-0 xs:px-[1rem];
        @media (min-width: 416px) and (max-width: 640px){
            padding-left: 1rem;
        }
        color:#2e0880;
      
                .first-div{
                display: flex;
                flex-direction: column;
                gap: 2rem; 
                align-items: flex-start;
                padding-bottom: 2rem;

                @apply lg:flex-row lg:justify-between lg:mb-4 lg:items-center;
        }
        .btns{
                display: flex;
                flex-direction: column-reverse;
                gap: 1rem;
                font-size: 13px;
                align-items: flex-start;
                @apply md:flex-row md:items-center
        }
     
        a {
            @apply no-underline mb-0 font-besley;
            color: inherit;

            &:hover {
                @apply underline text-gray-700;
            }
        }

        .second-div{
        @apply lg:flex-row lg:justify-between lg:flex;
        }
        .footer-left {
            display: none;
        }
        
        @media (min-width: 768px) { 
            .footer-left {
                display: flex;
                flex-direction: row; 
                justify-content: space-between;
            }
        }
        
        @media (min-width: 1024px) { 
            .footer-left {
                justify-content: normal;
                display: flex; 
            }
        }
        .button{
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            @apply xs:text-[13px];
        }

        .footer-right {
              display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;
                gap: 2rem;
                margin-top: 2rem;
                @apply lg:justify-end lg:mt-0
        }

        .footer-col {
            @apply flex flex-col mr-12 mb-5 md:mb-0;
        }

        p.footer-col-title {
            @apply font-semibold mb-4 md:mb-5 text-base;
        }

        .footer-col-item {
            @apply mb-4;
        }

        .social-links {
            @apply flex flex-row;
            a {
                @apply mx-1.5 text-xl;
            }
        }

        p.made-with-love {
            @apply m-0 mt-2 text-right;
        }
    }
}
