.header {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.header .left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.header .wnb-logo {
  height: 2.5rem;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header .join-wnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.3rem;
}

.header .add-user-icon {
  fill: white;
  height: 1rem;
}
