header {
    @apply w-full top-0 md:px-8 xl:px-0 bg-white border-b border-gray-100 z-10 fixed;

    .header {
        @apply bg-white container py-1 px-8 md:p-0  mx-auto max-w-6xl relative;
        min-height: 3.5rem;
        transition: box-shadow 0.3s ease-in-out;

        .inner {
            @apply flex flex-col md:flex-row md:items-center;

            .logo {
                width: 35%;
                display: flex;
                justify-content: center;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;

                svg.wnb-logo {
                    @apply cursor-pointer transition-all h-10;
                }
            }

            nav.nav {
                @apply hidden md:w-[50%] md:flex md:justify-between ml-auto mr-auto;

                .menu {
                    @apply md:w-full md:self-center;

                    ul {
                        @apply flex flex-row justify-around lg:justify-start;

                        li {
                            @apply lg:px-3;
                            a {
                                @apply text-wnbrb-blue-navy text-base font-normal leading-5 transition-all cursor-pointer hover:underline md:hover:no-underline font-rubik;



                                @screen md {
                                    &::after {
                                        @apply bg-white h-0.5 rounded-sm block relative top-0.5 transition-all;
                                        content: '';
                                    }

                                    &:hover::after {
                                        background-color: #2e0880;
                                    }
                                }
                            }

                            &.is-active {
                                a {
                                    @apply text-gray-700;
                                    &::after {
                                        background-color: #F56960;
                                    }
                                }
                            }
                        }
                    }
                }
                .user {
                    @apply flex flex-row md:flex-shrink-0 justify-center;

                    .join-us {
                        @apply ml-3 whitespace-nowrap;
                    }

                    .join-us .join-wnb {
                        .add-user-icon {
                            @apply text-white;
                        }
                    }

                    .button.primary {
                        &:hover {
                            .add-user-icon {
                                color: #F56960;
                            }
                        }
                    }
                }

                &.is-mobile-menu-open {
                    @apply flex flex-col-reverse md:flex-row md:px-0 pt-3 md:pt-0;

                    .user {
                        .join-us {
                            @apply w-full md:w-auto max-w-[18rem];
                        }
                    }

                    .menu {
                        ul {
                            @apply flex-col md:flex-row text-center mt-3 md:mt-0;

                            li {
                                @apply py-3 md:py-0;

                                &.is-active a {
                                    @apply underline md:no-underline;
                                    -webkit-text-stroke: 0.5px currentColor;

                                    @screen md {
                                        -webkit-text-stroke: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        button.hamburger {
            @apply bg-none p-2 border-0 right-4 top-4 sm:right-6 md:right-0 rounded-md cursor-pointer inline-block md:hidden absolute w-10 transition duration-500 ease-in-out hover:bg-gray-100;
            min-height: 2.5rem;
            span.bar {
                @apply bg-gray-500 rounded-sm block transition-all;
                height: 3px;
                margin-bottom: 5px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &.is-mobile-menu-open {
                .bar {
                    @apply first:m-0 even:opacity-0 last:m-0;
                    &:first-child {
                        -webkit-transform: rotate(45deg) translate3d(4px, 4px, 0);
                        transform: rotate(45deg) translate3d(4px, 4px, 0);
                    }

                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg) translate3d(4px, -4px, 0);
                        transform: rotate(-45deg) translate3d(4px, -4px, 0);
                    }
                }
            }
        }
    }

    &.is-mobile-menu-open {
        @apply md:px-12 xl:px-0 shadow-md md:shadow-none;
    }

    &.is-fixed {
        @apply bg-white shadow-md border-none;
    }
}
