.hero-icon {
  height: 175px;
}

.info-card:nth-child(2) {
  @apply flex-row-reverse;
}

.hero {
  @apply px-4
    max-w-md
    mx-auto
    my-40
    sm:flex
    sm:max-w-6xl;
}

.hero-left {
  @apply relative
    pb-32
    sm:pt-10
    sm:flex-1;
}

.ruby-outline {
  @apply w-48;
}

.hero-cta {
  @apply space-y-6
    absolute
    top-12
    left-20
    w-min
    sm:top-24
    sm:left-24;
}

.hero-cta h1 {
  @apply text-wnbrb-pink-default
    text-6xl
    font-black;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 0px 2px 6px rgb(0 0 0 / 15%);
}

.hero-cta p {
  @apply tracking-wider
    w-60
    sm:w-80
    sm:text-base;
}

.hero-cta a {
  @apply block
    text-lg
    w-56;
}

.hero-right {
  @apply sm:w-1/2;
}

.splash-background {
  @apply sm:w-full;
}

.podcast {
  background: url('../../assets/images/waveform.svg');
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto 85%;

  @apply bg-wnbrb-pink-default
    py-20
    flex
    items-center
    justify-center
    my-32
    relative;
}

.podcast .podcast-tile {
  @apply sm:top-1/3
    sm:left-1/4;
}

.sponsors {
  background: url('../../assets/images/rubybubbles.svg');
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto;

  @apply bg-wnbrb-pink-light
    py-20
    my-28
    flex
    items-center
    justify-center
    sm:my-48
    relative;
}

.sponsors .sponsors-tile {
  @apply sm:top-1/3
    sm:left-1/4;
}
