.hero-container {
    @apply mt-28 px-10 flex flex-row justify-center md:mt-40;
}

.hero {
    @apply flex
      flex-row
      flex-wrap
      justify-center
      items-center
      w-full
      max-w-[70rem]
      lg:justify-between;
}

.splash-background {
    @apply w-[30rem] mt-20 md:mt-0 md:w-[40rem];
}

.podcast {
    background: url('../../assets/images/waveform.svg');
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 85%;

    @apply bg-wnbrb-pink-default
    py-20
    flex
    items-center
    justify-center
    mt-28
    md:mt-40
    relative;
}

.podcast .podcast-tile {
    @apply sm:top-1/3
    sm:left-1/4;
}

.info-card-section {
    @apply mt-28
    md:mt-40
    mx-auto
    max-w-3xl
    flex-col;
}

.info-card {
    @apply justify-between
    mx-28
    md:mx-0
    mt-32
    flex
    flex-row
    flex-wrap;
}

.info-card:nth-child(2) {
    @apply md:flex-row-reverse;
}

.info-card-icon {
    @apply mt-8 md:mt-0 h-[12rem];
}

.sponsors {
    background: url('../../assets/images/rubybubbles.svg');
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto;

    @apply bg-wnbrb-pink-light
    py-20
    my-28
    flex
    items-center
    justify-center
    sm:my-48
    relative;
}

.sponsors .sponsors-tile {
    @apply sm:top-1/3
    sm:left-1/4;
}
