.hero-container {
    @apply flex;
    flex-direction: column;
}
.work-in-progress{
    background-color: #fff6c2b5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    flex-direction: column;
    font-weight: bold;
    height: 8rem;
    color: #2e0880;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;

    @media (min-width:768px) {
        height: 6rem;
    }
}

.hero {
    @apply flex
      flex-col-reverse
      flex-wrap
      w-full
      md:flex-row lg:flex-row;
}

.splash-background {
    margin-top: 0px;
    width: 100%;
    display: flex;
    position: relative;
    z-index: -1;
    @apply md:w-[50%] lg:w-[50%] order-1;
}

.podcast {
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 85%;

    @apply bg-wnbrb-pink-default
    py-20
    flex
    items-center
    justify-center
    mt-28
    md:mt-40
    relative;
}

.podcast .podcast-tile {
    @apply sm:top-1/3
    sm:left-1/4
    max-w-[50rem];
}
.info {
    background-color: #c6e6da;
    margin-top: -20px;
    @media (min-width: 1025px) {
        padding-top: 9px;
    }
    @media (min-width: 769px) and (max-width: 1024px){ 
    
        padding-top: 18px;
    }
    @media (min-width: 641px) and (max-width: 768px) { 
    
        padding-top: 19px;
    }
    @media (min-width: 416px) and (max-width: 640px) { 
    
        padding-top: 25px;
    }
    @media (max-width: 416px) {
        padding-top: 30px;
    }
}

.info-card-section {
    @apply mx-auto
    flex-col;
}

.info-card {
        display: flex;
        flex-direction: column;
        gap: 22px;
        justify-content: center;
        height: auto;
        width: 84%;
        margin: auto;

        @media (min-width: 768px) { 
            width: 100%; 
        }
    
        @media (min-width: 1024px) { 
            width: 100%; 
            height: 17rem;
        }
}
.info-card-image{
    border-radius: 20px;
    object-fit: contain;
  

    @media (min-width: 768px) { 
    
       border-radius: 0;
       border-top-left-radius: 20px;
       border-bottom-left-radius: 20px;
    }
    @media (min-width: 1024px) { 
           height: 270px;
           object-fit: cover;
           border-radius: 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;        

    }
}
@media (min-width: 1024px) { 
   
    .info-card:nth-child(5) img {
        border-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; 
    }
}
.bg-color-1 {
    @apply bg-wnbrb-blue-navy;
    color: white;
}
.bg-color-2 {
    background-color:  #ffdd19;
    
}
.bg-color-3 {
    background-color: #b33c3c;
    color: white;
}
.line {
    margin-top: -2.5rem;
}
.line2 {
    margin-top: 0;
}
.layout {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    padding: 3rem 1rem;
    gap: 2rem;

    @media (min-width: 768px) { 
        grid-template-columns: 1fr 1fr; 
        padding: 3rem 0;
    }

    @media (min-width: 1024px) { 
        grid-template-columns: repeat(4, auto); 
        padding: 3rem 0;

    }
}
.info-card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    padding: 1rem 2rem 2rem;
    border-radius: 1.8rem;

    
    @media (min-width: 768px) { 
        grid-column: 1;
        grid-row: 1 / 3;
        border-radius: 0rem;
        border-top-right-radius: 1.8rem;
        border-bottom-right-radius: 1.8rem;
    }

    @media (min-width: 1024px) { 
        grid-column: 1/3;
         grid-row: 1;
         border-radius: 0rem;
         padding: 1rem 4rem 1rem;
         border-top-right-radius: 1.8rem;
         border-bottom-right-radius: 1.8rem;
    }
}

.info-card:nth-child(2) {
    grid-column: 1;
    grid-row: 5;
    padding: 1rem 2rem 2rem;
    border-radius: 1.8rem;
    
    @media (min-width: 768px) { 
        grid-column: 2;
        grid-row: 2;
        border-radius: 0rem;
        border-top-left-radius: 1.8rem;
        border-bottom-left-radius: 1.8rem;
    }

    @media (min-width: 1024px) { 
        grid-column: 3 / 5;
         grid-row: 1;
         padding: 1rem 4rem 1rem;
         border-radius: 0rem;
         border-top-left-radius: 1.8rem;
         border-bottom-left-radius: 1.8rem;
    }
}
.info-card:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    padding: 1rem 2rem 2rem;
    border-radius: 1.8rem;
    @media (min-width: 768px) { 
        grid-column: 1;
        grid-row: 2/4;
        border-radius: 0;        
        border-top-right-radius: 1.8rem;
        border-bottom-right-radius: 1.8rem;
    }

    @media (min-width: 1024px) { 
        grid-column: 2 / 4;
         grid-row: 2;
         padding: 1rem 4rem 1rem;
         border-radius: 1.8rem;        
   
    }
}

.info-card:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;

    @media (min-width: 768px) { 
        grid-column: 2;
        grid-row: 1;
    }

    @media (min-width: 1024px) { 
        grid-column: 1;
         grid-row: 2;
    }
}

.info-card:nth-child(5) {
    grid-column: 1;
    grid-row: 4;
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;

    @media (min-width: 768px) { 
        grid-column: 2;
        grid-row: 3;
    }

    @media (min-width: 1024px) { 
        grid-column: 4;
         grid-row: 2;
    }
}
.meetspeak{
    background-color: #bfe444;
    @media (min-width: 1025px) {
        margin-top: -33px;
    }
   @media (min-width:768px) and (max-width: 1024px){ 
       margin-top: -27px;
   }
   
    @media (min-width: 641px) and (max-width: 768px){ 
        margin-top: -23px;

    }
    @media (min-width: 416px) and (max-width: 640px) { 
    
        margin-top: -16px;
    }
    @media (max-width: 416px) {
        margin-top: -12px;
    }

}
.page-title{
    padding: 3rem 1rem;

    @apply md:px-[1rem]
}

.title-container{
    margin-top: -75px;
}

.title-container a{
    padding-top: 20px;
}

.title-text{
    font-size: 75px;
    font-weight: 800;
}

