.job-group {
    @apply flex
      flex-row
      flex-wrap
      justify-center
      md:justify-between
      md:max-w-[50rem]
      lg:max-w-[73rem]
      mx-auto;

    input[type='text'] {
        @apply w-full md:ml-4 md:w-8/12 shadow appearance-none border border-gray-400 border-opacity-60 outline-none rounded py-2 px-3 text-gray-700 leading-tight focus:border-transparent focus:ring-4 focus:ring-wnbrb-pink-default focus:ring-opacity-40;
    }
}
