.jobs-authenticate-container {
    @apply bg-[#FFE2E2] w-full h-full px-20 py-24 flex flex-col justify-center items-center text-lg;
}

.incorrect-password {
    @apply bg-[#F59E98] rounded-lg p-4 text-sm mt-5;
}
