body {
  background-color: #f5f1fe;
}

.join-us-form-container {
  
  @apply w-full pt-[3rem]  h-full px-0  flex flex-col justify-center items-center;

  h1 {
    font-family: Besley;
    @apply text-2xl md:text-4xl  font-bold mb-8 text-center;
  }

  h2 {
    font-family: rubik;
    @apply text-2xl font-semibold mb-8 text-center;
  }

  .form-group,
  fieldset {
    @apply mb-8;

    label,
    legend {
      @apply text-wnbrb-gray-default text-lg mb-3 block font-medium;

      &.label-radiobutton,
      &.label-checkbox {
        @apply text-base font-normal;

        input {
          @apply md:ml-4 mr-3;
        }

        &:last-of-type {
          @apply mb-0;
        }
      }
    }

    input[type="text"] {
      @apply w-full shadow appearance-none border border-gray-400 border-opacity-60 outline-none rounded py-2 px-3 text-gray-700 leading-tight focus:border-transparent focus:ring-4 focus:ring-wnbrb-blue-navy focus:ring-opacity-40;
    }

    input[type="radio"],
    input[type="checkbox"] {
      @apply appearance-none checked:bg-wnbrb-blue-navy  outline-none focus:ring-2 focus:ring-offset-1 focus:ring-wnbrb-blue-navy focus:ring-opacity-40 indeterminate:shadow indeterminate:border-gray-400 scale-125;
    }

    p.input-description {
      @apply mb-3 -mt-2;
    }

    .error-message {
      @apply text-red-500 text-sm italic mt-3;
    }
  }
}
.page-title{
  padding: 2rem 2rem 0;
  order:0;
  margin-top: 0;

  @media (min-width: 768px) { 
    width: 56%; 
  }

}
.page-title .new-logo{
  width: 64%;

  @media (min-width: 450px) { 
    width: 47%; 
  }
  @media (min-width: 540px) { 
    width: 40%; 
  }
  @media (min-width: 600px) { 
    width: 32%; 
  }
  @media (min-width: 768px) { 
    width: 68%; 
  }
  @media (min-width: 1024px) { 
    width: 53%; 
  }

  @media (min-width: 1200px) { 
    width: 40%; 
  } 
}
.page-title .title-container{
  margin-top: -4rem;
  display: block;
  font-family: Besley;
  padding: 0 20px;
  @apply md:-mt-[5rem] lg:-mt-[5rem]
}

h1.title-text{
  font-size: 4rem;
  font-weight: 800;
  margin-top: 1rem;
}

.card{
background-color: #f5f1fe;
box-shadow: none;
margin-top: 0;
padding:3rem 2rem;
}
.card .join{
  padding-bottom: 18px;
  margin-bottom: 0;
}
.submit{
  padding: 1rem 2rem;

}