body {
  background-color: #f5f1fe;
}

.join-us-form-container {
  
  @apply w-full h-full px-10 md:px-20 py-24 flex flex-col justify-center items-center;

  h1 {
    font-family: Besley;
    @apply text-2xl md:text-4xl  font-bold mb-8 text-center;
  }

  h2 {
    font-family: rubik;
    @apply text-2xl font-semibold mb-8 text-center;
  }

  .form-group,
  fieldset {
    @apply mb-8;

    label,
    legend {
      @apply text-wnbrb-gray-default text-lg mb-3 block font-medium;

      &.label-radiobutton,
      &.label-checkbox {
        @apply text-base font-normal;

        input {
          @apply md:ml-4 mr-3;
        }

        &:last-of-type {
          @apply mb-0;
        }
      }
    }

    input[type="text"] {
      @apply w-full shadow appearance-none border border-gray-400 border-opacity-60 outline-none rounded py-2 px-3 text-gray-700 leading-tight focus:border-transparent focus:ring-4 focus:ring-wnbrb-blue-navy focus:ring-opacity-40;
    }

    input[type="radio"],
    input[type="checkbox"] {
      @apply appearance-none checked:bg-wnbrb-blue-navy  outline-none focus:ring-2 focus:ring-offset-1 focus:ring-wnbrb-blue-navy focus:ring-opacity-40 indeterminate:shadow indeterminate:border-gray-400 scale-125;
    }

    p.input-description {
      @apply mb-3 -mt-2;
    }

    .error-message {
      @apply text-red-500 text-sm italic mt-3;
    }
  }
}
.page-title{
  order:0;
  margin-top: 0;

}
.page-title .new-logo{
  width: 31%;
}
.page-title .title-container{
  margin-top: -3rem;
  display: block;
  font-family: Besley;
}
h1.title-text{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}
.card{
background-color: #f5f1fe;
box-shadow: none;
margin-top: 0;
padding-top: 0;
}
.card .join{
  padding-bottom: 18px;
  margin-bottom: 0;
}