.meetup-section-container {
    background-color: #fff099;
    margin-top: -10px;
    padding: 2rem;
    @apply md:-mt-[20px] lg:-mt-[26px];

    @media (min-width: 415px) {
        margin-top: -15px;
    }
    @media (min-width: 600px) {
        margin-top: -20px;
    }
    @media (min-width: 820px) {
        margin-top: -28px;
    }
    @media (min-width: 1210px) {
        margin-top: -36px;
    }
}
.meetups__month:first-of-type > .meetups__card--border {
    margin-top: 80px;
}
.meetup-section {
    background-color: #fff099;
}
.archive {
    display: grid;
    grid-template-columns: auto;
    column-gap: 2rem;
    margin: auto;
    margin-top: 2rem;
}
.card-content {
    padding: 1rem;
}
.stock-img {
    border-radius: 20px;
}
@media (min-width: 768px) {
    .archive {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1024px) {
    .archive {
        grid-template-columns: auto auto auto;
    }
}
.meetups__month:last-of-type > .meetups__card--border {
    align-self: flex-start;
    padding-top: 50px;
    line-height: 0;
}

.meetups__month:first-of-type > .meetups__month--name,
.meetups__month:last-of-type > .meetups__month--name {
    margin-top: 50px;
}

.meetups__card--border::before {
    display: block;
    position: relative;
    left: -10px;
    font-size: 50px;
    color: #d1d5db;
    content: '•';
}

.meetups__month:first-of-type > .meetups__card--border::before {
    top: -28px;
}

.meetups__month:last-of-type > .meetups__card--border::before {
    top: 14px;
}

.meetspeak-layout {
    display: flex;
    background-color: #bfe444;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 1rem 3rem;

    @media (min-width: 768px) {
        margin-left: auto;
        gap: 4rem;
        margin-right: auto;
        width: 75%;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        width: 90%;
        gap: 0;        
    }
}

.meet-card,
.speak-card {
    background-color: #ffffe5;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: 2rem;
    margin: auto;
    border-radius: 2rem;

    @media (min-width: 1024px) {
        width: 45%;
        margin: 2rem;
    }
}
h3 {
    @apply font-bold text-xl text-wnbrb-blue-navy;
}
.line {
    position: relative;
    margin-top: -1rem;
    @media (min-width: 640px) {
        margin-top: -1.5rem;
    }
    @media (min-width: 980px) {
        margin-top: -1.8rem;
    }
    @media (min-width: 1210px) {
        margin-top: -2rem;
    }
}
.button.view-btn {
    background-color: #ffdd19;
    color: #2e0880;
    border: 2px solid;
    font-size: 18px;
    font-weight: 700;
    width: 179px;
    cursor: pointer;
    margin: auto;
    font-family: besley;
}
.button.view-btn.primary:hover {
    border: 1px solid #2e0880;
}
.button.see-more{
    width: 179px;
}
li {
    list-style: none;
}

.video-section {
    background-color: #fff099;
    margin-top: 2rem;
}
.video-container {
    width: 84%;
    margin: auto;
    padding: 3rem 0;
    @apply lg:w-[100%] lg:p-[8rem] md:w-[80%] md:py-[6rem];
}
iframe {
    border-radius: 1rem;
}
.wavy {
    margin-top: -10px;
}

@media (min-width: 446px) {
    .wavy {
        margin-top: -14px;
    }
}

@media (min-width: 550px) {
    .wavy {
        margin-top: -20px;
    }
}

@media (min-width: 800px) {
    .wavy {
        margin-top: -33px;
    }
}

@media (min-width: 1441px) {
    .wavy {
        margin-top: -40px;
    }
}
.speaker-section {
    padding: 3rem 2rem;
    margin-top: -13px;
    @apply text-wnbrb-blue-navy lg:-mt-[30px] lg:pt-[7rem] lg:px-[3rem] lg:pt-[4rem];
}
.abt-speaker {
    padding: 0 2rem 3rem;
}

.meetup-card {
    width: 85%;

      @media (min-width: 768px) {
        max-width: 20rem;
    }
}