.page-title {
    @apply relative
    min-h-[12rem]
    overflow-auto;
}

.ruby-outline {
    @apply absolute w-48 z-[-1];
}

.title-container {
    @apply z-10 mt-14 ml-24 w-min;
}

.title-text {
    @apply text-wnbrb-pink-default
    text-5xl
    sm:text-6xl
    font-black;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 0px 2px 6px rgb(0 0 0 / 15%);
}
