.page-title {
    display: flex ;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3rem;
    margin-top: 2rem;
    align-items: center;
    @apply md:w-[50%] lg:w-[50%] order-2 md:px-0;
    /* overflow-auto; */
}

.ruby-outline {
    width: 20rem;
}

.title-container {
    @apply pt-10 pl-4 md:pl-20;
}

.title-text {
    @apply text-wnbrb-pink-default
    text-5xl
    sm:text-6xl
    font-black
    md:whitespace-nowrap;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 0px 2px 6px rgb(0 0 0 / 15%);
}
