html,
body {
    @apply antialiased text-base;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'pnum';
    font-variant-numeric: proportional-nums;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Rubik;
    color: #4a4a4a;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
