.page-title {
  @apply relative
    py-4
    sm:pb-28
    sm:pt-10
    mx-2 
    my-3 
    sm:mx-20 
    sm:my-4
    sm:flex-1;
}

.ruby-outline {
  @apply w-48;
}

.title-container {
  @apply space-y-6
    absolute
    top-12
    left-14
    sm:top-24
    sm:left-24;
}

.title-text {
  @apply text-wnbrb-pink
    text-5xl
    sm:text-6xl
    font-black;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 0px 2px 6px rgb(0 0 0 / 15%);
}
