.podcast-tile {
  width: 90%;

  @apply sm:flex
    bg-white
    shadow-lg
    rounded-lg
    items-center
    sm:w-1/2
    p-4;
}

.podcast-tile img {
  @apply w-14;
}

.podcast-tile-title {
  @apply font-bold
    text-xl
    flex-1
    px-4;
}

.podcast-tile-button {
  @apply border
    text-lg
    px-8
    py-2
    rounded
    block
    sm:inline-block
    text-center
    mt-4
    mb-2
    sm:m-0;
}
