.ruby-color {
    @apply text-wnbrb-ruby-default;
}

.emerald-color {
    @apply text-wnbrb-emerald-default;
}

.sapphire-color {
    @apply text-wnbrb-sapphire-default;
}

.opal-color {
    @apply text-wnbrb-opal-default;
}

.checkmark.Ruby circle {
    fill: #fbe6e6;
}

.checkmark.Ruby path {
    fill: #993232;
}

.checkmark.Emerald circle {
    fill: #dcedd6;
}

.checkmark.Emerald path {
    fill: #45823f;
}

.checkmark.Sapphire circle {
    fill: #dae9f6;
}

.checkmark.Sapphire path {
    fill: #485496;
}

.checkmark.Opal circle {
    fill: #eaeaea;
}

.checkmark.Opal path {
    fill: #909090;
}

.sponsor-card .checkmark {
    height: 13px;
    width: 13px;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
}

.sponsorship-option {
    @apply p-7
    flex-1
    w-[22rem]
    sm:w-80
    border-2
    border-white
    hover:border-2
    hover:border-wnbrb-orange-default
    mt-3
    sm:mt-0;
}

.sponsorship-option.selected {
    @apply border-wnbrb-orange-default;
}

.sponsorship-option-radio {
    position: relative;
}

.sponsorship-option-radio input[type='radio'] {
    opacity: 0;
}

.sponsorship-option-label {
    @apply hover:cursor-pointer;
}

.sponsorship-option-title {
    @apply ml-3;
}

.sponsorship-option-radio input[type='radio'] + .sponsorship-option-title:before {
    @apply w-5
      h-5
      left-[-8px]
      top-[2px]
      absolute
      inline-block
      border-2
      rounded-full
      border-wnbrb-gray-medium
      transition-all;

    content: ' ';
}

.sponsorship-option-radio input[type='radio']:checked + .sponsorship-option-title:after {
    @apply w-[10px]
      h-[10px]
      left-[-3.5px]
      top-[6.5px]
      absolute
      inline-block
      border-2
      rounded-full
      bg-wnbrb-orange-default
      border-wnbrb-orange-default
      transition-all;

    content: ' ';
}

.sponsorship-option-radio input[type='radio']:checked + .sponsorship-option-title:before {
    @apply border-wnbrb-orange-default;
}

.sponsorship-option-radio input[type='radio']:focus + .sponsorship-option-title:before {
    box-shadow: 0 0px 6px #f37d7b;
}

.sponsor-info-card:nth-child(2) {
    @apply mt-10 md:mt-0 md:ml-10 ml-0;
}
