.ruby-color {
    @apply text-wnbrb-ruby-default;
}

.emerald-color {
    @apply text-wnbrb-emerald-default;
}

.sapphire-color {
    @apply text-wnbrb-sapphire-default;
}

.opal-color {
    @apply text-wnbrb-opal-default;
}

.checkmark.Ruby circle {
    fill: #fbe6e6;
}

.checkmark.Ruby path {
    fill: #993232;
}

.checkmark.Emerald circle {
    fill: #dcedd6;
}

.checkmark.Emerald path {
    fill: #45823f;
}

.checkmark.Sapphire circle {
    fill: #dae9f6;
}

.checkmark.Sapphire path {
    fill: #485496;
}

.checkmark.Opal circle {
    fill: #eaeaea;
}

.checkmark.Opal path {
    fill: #909090;
}

.sponsor-card .checkmark {
    height: 13px;
    width: 13px;
    margin-top: 0.3rem;
    margin-right: 0.7rem;
}

.sponsorship-option {
    @apply p-7
    flex-1
    w-[22rem]
    sm:w-80
    border-2
    border-white
    hover:border-2
    hover:border-wnbrb-orange-default
    mt-3
    sm:mt-0;
}

.sponsorship-option.selected {
    @apply border-wnbrb-orange-default;
}

.sponsorship-option-radio {
    @apply border-2
      border-wnbrb-gray-medium
      checked:border-wnbrb-orange-default
      checked:bg-wnbrb-orange-default
      transition-all;
}

.something-else-banner {
    @apply w-full flex flex-row justify-center mt-32 py-5 px-5;

    background: url('../../assets/images/repeated_dots.svg');
    background-color: #fff3f3;
}

.something-else-banner .something-else-card {
    @apply my-5
    py-5
    flex
    flex-row
    flex-wrap
    justify-center
    md:justify-between
    text-center
    md:text-left
    items-center
    text-lg;
}

.sponsor-info-card:nth-child(2) {
    @apply mt-10 md:mt-0 md:ml-10 ml-0;
}
