.sponsors-tile {
    width: 90%;

    @apply sm:w-9/12;
}

.sponsors-tile-title {
    @apply text-center
    text-lg;
}

.sponsors-tile-img-container {
    @apply flex
    flex-col
    sm:flex-row
    justify-center
    items-center
    sm:h-36;
}

.sponsors-tile-img-container img {
    @apply h-10
    mt-10
    md:mt-0
    py-0
    mx-auto
    sm:w-auto;
}
