.title {
    display: flex;
    margin: 4rem 2rem 2rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.title h1 {
    font-size: 47px;
    font-weight: 700;
    color: #2e0880;
}

.title p {
    width: 90%;
    @media (min-width: 768px) {
        width: 70%;
    }
    @media (min-width: 1024px) {
        width: 60%;
    }
}

.card {
    background-color: transparent;
    --tw-shadow: none;
    padding: 4px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 85%;
    @apply lg:w-[100%] lg:m-[0];
}

.card-img {
    border-radius: 10px;
    @apply md:max-w-[75%] lg:max-w-[95%];
}

.tiers {
    color: #15043a;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    margin-bottom: 1rem;
    @apply md:w-[55rem] lg:w-[85%];
}

.opal {
    background-color: #a3d6c4;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.sapphire {
    background-color: #d3c1fb;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.emerald {
    background-color: #bfe444;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
ul li span {
    text-align: left;
}

.most-popular-banner {
    margin-top: -30px;
    background-color: #ffdd19;
    padding: 0 5px;
}
