.community-section {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.community {
    display: flex;
    justify-content: center;
    padding: 0;
    @apply lg:p-[1rem] lg:w-[70%] lg:mx-auto;
}

.community .info-card {
    border-radius: 15px;
    display: flex;
    justify-content: normal;
    text-align: center;
    height: auto;
    padding: 0;
}

.community .info-card:nth-child(2) {
    grid-column: 3/6;
}

.community .info-card img {
    padding: 0;
    height: 700px;
    width: 700px;
}

.community h2 {
    text-align: center;
    font-size: 28px;
    @apply text-wnbrb-blue-navy lg:text-4xl;
}

.bg-color-community {
    background-color: transparent;
    color: black;
}
.info {
    background-color: transparent;
}
.info-card {
    gap: 12px;
}
.info-card p {
    line-height: 21px;
    font-size: 14px;
}
.info-card:nth-child(1) {
    grid-column: 1;
    padding: 1rem 2rem;

    @media (min-width: 768px) {
        grid-row: 1;
    }

    @media (min-width: 1024px) {
        grid-column: 1 / 2;
        border-radius: 1.8rem;
    }
}
.info-card:nth-child(2) {
    grid-column: 1;
    grid-row: 6;
    padding: 1rem 2rem;

    @media (min-width: 768px) {
        grid-column: 2 / 4;
        grid-row: 1;
    }

    @media (min-width: 1024px) {
        grid-column: 4 / 5;
        background-color: #ffdd19;
        border-radius: 1.8rem;
        color: black;
        padding: 25px;
    }
}
.info-card:nth-child(3) {
    grid-row: 5;
    padding: 1rem 2rem;
    @media (min-width: 768px) {
        grid-row: 3;
        grid-column: 2 / 4;
        border-radius: 1.8rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    @media (min-width: 1024px) {
         border-radius: 1.8rem;
         grid-row: 2;
         background-color: #ffdd19;
         padding: 19px;
    }
}
.info-card:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3;
    padding: 1rem 2rem;
    border-radius: 1.8rem;
    @media (min-width: 768px) {
        grid-column: 2 / 4;
        grid-row: 2;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        background-color: #b33c3c;
    }

    @media (min-width: 1024px) {
        grid-column: 1 / 2;
        grid-row: 2;
        border-radius: 1.8rem;
        @apply bg-wnbrb-blue-navy;
        color: white;
        padding: 22px;
    }
}
.info-card:nth-child(5) {
    grid-column: 1;
    grid-row: 4;
    border-radius: 1.8rem;
    padding: 1rem 2rem;
    @media (min-width: 768px) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        grid-row: 3;
         @apply bg-wnbrb-blue-navy;
    }

    @media (min-width: 1024px) {
        grid-column: 4 / 5;
        grid-row: 2;
        background-color: #b33c3c;
        border-radius: 1.8rem;
        padding: 19px;
    }
}
.info-card:nth-child(6) {
    grid-column: 1;
    grid-row: 2;
    border-radius: 1.8rem;
    padding: 1rem 2rem;
    @media (min-width: 768px) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    @media (min-width: 1024px) {
        grid-column: 2 / 4;
        grid-row: 1;
        border-radius: 1.8rem;
        @apply bg-wnbrb-blue-navy;
        color: white;
        padding: 25px;
    }
}

.section-cards {
    @media (min-width: 1024px){
        column-gap: 20px;
        row-gap: 5px;
        padding: 2rem;
    }
}

.section-cards .info-card{
   @media (min-width: 768px){
    height: 91%;
    width: 100%;
    padding: 25px;
   }
}