@keyframes drop {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: 20px;
    }

    75% {
        margin-top: 20px;
    }
}

.loading-spinner {
    @apply flex flex-row w-24 justify-between items-start mx-auto h-[40px];
}

.loading-dot {
    @apply w-4 h-4 rounded-full bg-wnbrb-orange-default;
    animation: drop 1.5s linear infinite;
}

.loading-dot:nth-child(2) {
    animation-delay: 250ms;
}

.loading-dot:nth-child(3) {
    animation-delay: 500ms;
}
