.page-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3rem;
    margin-top: 2rem;
    align-items: center;
    @apply md:w-[50%] lg:w-[50%] order-2 md:px-0;
    /* overflow-auto; */
}

.new-logo {
    width: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -85px;
    gap: 10px;
    justify-content: center;
    @apply text-wnbrb-blue-navy
    font-besley
    text-center;
}

.title-text {
    font-weight: 700;
    font-size: 56px;
    @apply text-wnbrb-blue-navy
    font-besley
    md:whitespace-nowrap;
}
