.podcast-tile {
    width: 90%;
}

.podcast-listing {
    @apply flex
    flex-col
    lg:flex-row
    items-center
    py-4;
}

.podcast-tile img {
    @apply w-14
    rounded-md;
}

.podcast-title {
    @apply font-bold
    text-xl
    flex-1
    my-4
    text-center
    md:text-left
    lg:px-4;
}

.podcast-tile-button {
    @apply border
    text-lg
    px-8
    py-2
    rounded
    block
    sm:inline-block
    text-center
    mt-4
    mb-2
    sm:m-0;
}
