.thankyou {
    background-color: #fff6c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    gap: 2rem;
    text-align: center;
    @apply xs:text-left xs:px-[1.3rem];
}

.thankyou h2 {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    font-weight: 800;
    font-family: besley;
    color: black;
    @apply md:text-[44px];
}

.thankyou p {
    @apply text-lg text-black font-noto text-center;
}

.thankyou .sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 20px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: center;
        gap: 0;
    }
}

.thankyou .sponsor div {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    border-radius: 35px;

    @media (min-width: 768px) {
        padding: 2rem 0;
    }

    @media (min-width: 1024px) {
        padding: 2rem;
         width: 20%;
    }
}

.link {
    text-decoration: none;
    color: #2e0880;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    color: #3d2277;
    text-decoration: underline;
}

.sponsor-image {
    border-radius: 12rem;
}

.thankyou .sponsor .sponsor-2 .sponsor-image,
.thankyou .sponsor .sponsor-3 .sponsor-image {
    border-radius: 0;
}
