.thankyou {
    background-color: #fff6c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    gap: 2rem;
    text-align: center;
    @apply xs:text-left xs:px-[1.3rem];
}

.thankyou h2 {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    font-weight: 800;
    font-family: besley;
    color: black;
    @apply md:text-[44px];
}

.thankyou p {
    @apply text-lg text-black font-noto text-center;
}

.thankyou .sponsor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-items: center;
    padding: 20px;

      @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(5, 1fr);
    }
}

.thankyou .sponsor div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    transition: transform 0.2s ease;
    width: 100%;

    @media (min-width: 768px) {
        gap: 10px;
        justify-content: center;
    }

    @media (min-width: 1024px) {
        gap: 10px;
    }
}

.thankyou .sponsor div:hover {
  transform: translateY(-4px);
}

.sponsor-image {
  max-height: 150px;
  max-width: 160px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.thankyou .sponsor .sponsor-5 .sponsor-image {
  max-width: 220px;
  max-height: 200px;
  width: 100%;
  height: auto;
}

.link {
    text-decoration: none;
    color: #2e0880;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    color: #3d2277;
    text-decoration: underline;
}

.sponsor-1 {
    font-size: 15px;
}
.sponsor-1 .sponsor-image {
    border-radius: 12rem;
}

.thankyou .sponsor .sponsor-2 .sponsor-image,
.thankyou .sponsor .sponsor-3 .sponsor-image {
    border-radius: 0;
}
